body {
  background-image: url('faded_gallery-JEludq8wsD8-unsplash.jpg');
  background-size:cover;
  background-repeat: repeat;
  background-position:unset;
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin: 20px;
}

h1 {
    font-family: 'Arial', sans-serif;
    color: #333;
}

a {
    text-decoration: none;
    color: #0b2f5e;
    transition: color 2s;
}
a:hover {
    color: #ff5733;
    text-decoration: underline;

}
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}
nav a {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    padding: 10px 15px;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    transition: background-color 0.3s, color 1s;
}
nav a:hover {
    background-color: #333;
    color: #fff;
    text-decoration: none;
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(61, 59, 59, 0.8);
    border-radius: 10px;
    margin: 20px;
    font-size: 14px;
    color: #eeebeb;
    height: 100px;
}
footer a {
    color: #666;
    transition: color 2s;
}
footer a:hover {
    color: #ff5733;
}

